<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:coachPersonalData.properties"/>

    <bean id="cricketLeague" class="CoachPractice2022Jan.Ashes" lazy-init="true">
         <property name="coach" ref="coachBeanCricket"/>
         <property name="player" value="${cricketPlayerName}"/>
    </bean>

    <bean id = "coachBeanCricket" class="CoachPractice2022Jan.CricketCoach" scope="singleton" lazy-init="true">
    <property name="name" value="${cricketCoachName}"/>
    </bean>


    <bean id="footballLeague" class="CoachPractice2022Jan.Laliga" lazy-init="true">
        <property name="coach" ref="coachBeanFootBall"/>
        <property name="player" value="${footballPlayerName}"/>
    </bean>

    <bean id = "coachBeanFootBall" class="CoachPractice2022Jan.FootballCoach" scope="singleton" lazy-init="true">
        <property name="name" value="${footballCoachName}"/>
    </bean>


    <bean id = "dataBean" class="DataBaseExample01Mar.OracleDataBase" scope="singleton">
    </bean>


</beans>





